<nav class="navbar navbar-fixed-bottom navbar-default">
  <div class="container">
    <div class="navbar-text hidden-xs">
      <a class="github-button" href="https://github.com/ahmadnassri/har-resources" data-icon="octicon-star" data-count-href="/ahmadnassri/har-resources/stargazers" data-count-api="/repos/ahmadnassri/har-resources#stargazers_count">Star</a>
      <a class="github-button" href="https://github.com/ahmadnassri/har-resources" data-icon="octicon-eye" data-count-href="/ahmadnassri/har-resources/watchers" data-count-api="/repos/ahmadnassri/har-resources#subscribers_count">Watch</a>
      <a class="github-button" href="https://github.com/ahmadnassri" data-count-href="/ahmadnassri/followers" data-count-api="/users/ahmadnassri#followers">Follow @AhmadNassri</a>
    </div>

    <div class="navbar-right navbar-text">
      <a href="http://bufferapp.com/add" class="buffer-add-button" data-url="https:&#x2F;&#x2F;ahmadnassri.github.io&#x2F;har-resources" data-count="horizontal" data-via="AhmadNassri" ></a><script type="text/javascript" src="https://d389zggrogs7qo.cloudfront.net/js/button.js"></script>

      <a class="twitter-share-button" href="https://twitter.com/share" data-url="https://ahmadnassri.github.io/har-resources" data-via="Mashape" data-hashtags="API, HTTP, Embed" data-dnt="true">Tweet</a>
    </div>
  </div>
</nav>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-598217-34', 'auto');
  ga('require', 'displayfeatures');
  ga('require', 'linkid', 'linkid.js');
  ga('send', 'pageview');
</script>
